body {
  background-color: darksalmon;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 200px 300px;
  grid-gap: 20px;
  border: 2px solid var(--yellow);
  grid-template-columns: 200px 200px 1fr;
}

.item {
  background-color: darkSlateGray;
  color: cornSilk;
  border: 2px solid black;
  text-align: center;
  padding: 2em;
}

h1 {
  text-align: center;
}

ul {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 6em 6em 6em;
}

li {
  list-style-type: none;
  background-color: darkcyan;
  color: goldenrod;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
}